body{
    background-color: #0e131f;
}

.card-title {
    color: white;
}

.card-text {
    color: lightgray;
}

.footerText{
    color: #6b839b;
}

.navText{
    color: #8aa8c4;
}

.themedBG{
    background-color: #2c3441;
}

.card{
    background-color: #19212c;
    max-width: 18rem;
}

.cardImg{
    max-width: max-content;
    max-height: 12rem;
}

.header{background:rgb(0, 178, 255);color:#fff;}

#lblCartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 2px 5px;
    vertical-align: top;
    margin-left: -10px;
}
.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}

#icon{
padding-top: 3px;
    font-size: 32px;
    color: grey;
}